.remark-code{color:#a5682a;}
a:hover,a:focus{text-decoration:underline;}
.title-slide{background-image:url("../img/title-background-image.png");background-position:center;background-size:cover;}

.pull-left-2{float:left;width:27%;}
.pull-right-2{float:right;width:67%;}
.pull-right-2 ~ *{clear:both;}

.small{font-size:0.675em;}
.ssmall{font-size:0.635em;}
.verysmall{font-size:0.675em;}
.nolink{color:#49847b;}
.nolink:hover{color:#a52a2a;}


.date{font-size:0.95em;color:#D4D4D4;font-weight:100;padding-top:20px;}
.author{font-size:1.00em;color:#D4D4D4;font-weight:normal;padding-top:100px;}
a.email{font-size:0.85em; color: #9f9a9a; font-weight:100;}


.img-source-tiny{ font-size:70% }
.big{font-size:1.5em;}
.btn-xs a{text-decoration:none;}
.btn-xs a:visited{text-decoration:none;}
.btn-xs a:hover, .btn-xs a:focus{color:white;}
.btn-xs a{font-family:monospace;color:white;border:1px solid #294557;background-color:#294557;border-radius:5px;padding:2px 5px 2px 5px;margin-right:5px;}
.btn-xs a:hover, .btn-xs a:focus{border:1px solid white;}
.github .fa-github{color:#294557;}
.github .fa-github:hover{color:#697c89;}
.figure{text-align:center}
.caption{font-size: 0.5em;}

.valid{color:green;}
.non-valid{color:red;}

.remark-slide table {font-size:0.95em;}

.remark-slide table thead th {background-color:#3F3F3F;border-bottom:1px solid #666;}
/*
.remark-slide table tbody tr td {border-bottom:1px solid #666;}
.remark-slide table tbody tr td {background-color:#3F3F3F;color:#C5893F;}
.remark-slide table tbody col:first-child {background-color:#3F3F3F;color:red;}
*/

.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) { background: #3F3F3F }
.remark-slide col:first-child { font-weight:bold; }